@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InkLipquid';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* 공통 컨테이너 */
#landing-page {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Apple SD Gothic Neo', 'Noto Sans KR',
    sans-serif;
  letter-spacing: -0.2pt;
  font-size: 20px;
}

/* 하단퀵바 */
.landing_2025_quickbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #37353fd6;
  z-index: 9999;
  animation: flashboxColor 1s infinite;
}

.landing_2025_quickbar_inner {
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  list-style: none;
}

.landing_2025_quickbar_inner li {
  flex: 1;
  text-align: center;
  position: relative;
}

.landing_2025_quickbar_inner li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.3);
}

.landing_2025_quickbar_inner li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #fff;
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}

.landing_2025_quickbar_inner li a strong {
  color: #b48cff;
  font-weight: 800;
}

.landing_2025_quick_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.2;
}

.landing_2025_quick_item img {
  height: 1em;
  width: auto;
  margin-right: 5px;
  display: block;
}

.landing_2025_quick_item span {
  display: inline-block;
}

.landing_2025_quick_item span br {
  display: none;
}

.landing_2025_quick_item strong {
  color: #b48cff;
  font-weight: 800;
}

@keyframes flashboxColor {
  0%, 100% {
    background-color: #37353f;
  }
  50% {
    background-color: #5f61ac;
  }
}

/* 반응형 */

@media (max-width: 1190px) {
  .landing_2025_quick_item span br {
    display: block;
  }
}

@media (max-width: 767px) {
  .landing_2025_quickbar_inner {
    max-width: 100%;
    flex-direction: row;
    padding: 5px 0;
  }

  .landing_2025_quickbar_inner li {
    flex: 1;
  }

  .landing_2025_quick_item {
    flex-direction: column;
    gap: 4px;
    font-size: 1.2rem;
    padding: 8px 0;
  }

  .landing_2025_quick_item img {
    height: 24px;
  }

  .landing_2025_quick_item span {
    font-size: 1.1rem;
  }

  .landing_2025_quick_item strong {
    font-size: 1.1rem;
  }
}




/* 메인이미지 */

.landing-main {
  background-image: url('../img/landing_2025_main_image.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  padding: 150px 0;
}

.landing-main .landing-main-inner {
  width: 100%;
  max-width: 1190px;
  color: #707070;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}

.landing_2025_main-text {
  flex: 1;
  min-width: 300px;
}

.landing_2025_main-text .landing_2025_main-subtitle {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 15px;
}

.landing_2025_main-text .landing_2025_main-title {
  font-family: 'GmarketSansMedium', sans-serif;
  font-weight: normal;
  letter-spacing: -0.2rem;
  font-size: 5rem;
  line-height: 1.1;
}

.landing_2025_main-text p strong {
  font-size: 2.5rem;
}

.bold-purple {
  color: #b48cff;
  font-weight: 700;
}

.landing_2025_main-signature {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
}

.main-text-left {
  text-align: left;
}

.main-text-right {
  text-align: right;
  align-self: flex-end;
}

.landing_2025_main-desc {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
}

.font-inklipquid {
  font-family: 'InkLipquid';
}

@media (max-width: 1190px) {
  .landing-main {
    background-image: url('../img/landing_2025_main_image_mobile.png');
    background-position: center center;
    background-size: cover;
    height: auto;
    padding: 100px 0;
  }
  .landing-main .landing-main-inner {
    width: 90%;
    margin: 5% auto;
  }
  .landing_2025_main-desc{
    margin-top: 50px;
  }
  .main-text-right {
    text-align: left;
    align-self: auto; 
  }
}

@media (max-width: 768px) {
  .landing-main {
    padding: 0;
  }
  .landing-main-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .landing_2025_main-text .landing_2025_main-title {
    font-size: 2.5rem;
  }

  .landing_2025_main-text .landing_2025_main-subtitle {
    font-size: 1.25rem;
    margin-top: 20%;
  }

  .landing_2025_main-desc {
    font-size: 1rem;
  }

  .landing_2025_main-text p strong {
    font-size: 2rem;
    line-height: 1.5rem;
  }

}


/* 섹션 구분용 라인 */

.landing-marquee {
  width: 100%;
  height: 30px;
  background-color: #111;
  border-top: 3px solid #b48cff;
  border-bottom: 3px solid #b48cff;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.marquee-track {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: line-marqueeMove 50s linear infinite;
}

.marquee-content p {
  font-family: 'GmarketSansMedium', sans-serif;
  font-weight: normal;
  letter-spacing: -0.5rem;
  font-size: 1rem;
  color: #b48cff;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  padding-right: 2vw;
}

@keyframes line-marqueeMove {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* 두 덩어리 중 한 덩이만큼 왼쪽으로 */
}


/* 컨텐츠 섹션 */

.landing_2025_section {
  width: 100%;
  padding: 150px 0 200px;
  position: relative;
  overflow: hidden;
}

.landing_2025_content_inner {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  position: relative;
}

.landing_2025_section_left {
  flex: 0 0 600px;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 15px;
}

.landing_2025_section-title {
  line-height: 1.4;
  color: #666;
  margin: 0;
}

.landing_2025_section-title p{
  font-size: 1.8rem;
  margin: 0;
}

.landing_2025_section-title span{
  font-size: 3.7rem;
  font-family: 'GmarketSansMedium', sans-serif;
  font-weight: bold;
  letter-spacing: -0.2rem;
}

a.landing_2025_bna_more {
  display: block;
  width: 30%;
  text-align: center;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 30px;
  border: 1px solid #fff;
  margin-top: 5px;
  font-weight: 600;
}

a.landing_2025_bna_more_bbvzh {
  color : #F894AC;
  background: linear-gradient(270deg, #ffd2dd, #ffffff, #ffd2dd);
  background-size: 600% 600%;
  animation: gradientMove 3s ease infinite;
}

a.landing_2025_bna_more_bbtjzh {
  color : #5f61ac;
  background: linear-gradient(270deg, #b0b2e7, #ffffff, #b0b2e7);
  background-size: 600% 600%;
  animation: gradientMove 3s ease infinite;
}

a.landing_2025_bna_more_gmbrft {
  color : #D2A477;
  background: linear-gradient(270deg, #e7cdb3, #ffffff, #e7cdb3);
  background-size: 600% 600%;
  animation: gradientMove 3s ease infinite;
}

@media (max-width: 1190px) {
  a.landing_2025_bna_more {
    width: 50%;
    margin: 0 auto 10px;
  }
}

@media (max-width: 768px) {
  a.landing_2025_bna_more {
    font-size: 18px;
    padding: 3px 15px;
  }
}


/* 슬라이드 */
.landing_2025_swiper {
  width: 100%;
  margin-top: 20px;
}

.landing_2025_swiper .swiper-slide {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.landing_2025_before-box,
.landing_2025_after-box {
  position: relative;
  width: 48%;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
}

.landing_2025_before-box img,
.landing_2025_after-box img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.before-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 3px 3px 5px #2828282f;
}

.bna-text-bottom{
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: 10%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  right: 0;
}

.before-text-bottom{
  color: #282828;
}

.after-text-bottom{
  color: #fff;
}

.landing_2025_arrow {
  width: 35px;
  height: 35px;
  background: #fff; /* 화살표 뒤에 둥근 흰색 배경 */
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* 부드러운 그림자 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_2025_arrow::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.landing_2025_pagination {
  position: static !important;
  top: 10px;
  right: 10px;
  width: auto;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}


.landing_2025_swiper .swiper-slide {
  min-height: 200px; /* 모바일 전용 */
}



/* 오른쪽 모델 배경 */
.landing_2025_section_right {
  flex: 1;
  min-width: 860px;
  height: 100%;
  min-height: 450px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px 30px;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 225px 0 0 0;
}

.landing_2025_right-desc {
  font-family: 'InkLipquid', sans-serif;
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 5px;
}

.landing_2025_right-title {
  font-family: 'InkLipquid', sans-serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 0;
  line-height: 1;
  margin: 0;
  padding: 0;
}



/* 바비V지흡 */

.landing_2025_bbvzh {
  background: #FFEFF9;
}

.landing_2025_section-title_bbvzh_bg{
  background: url('../img/bbvzh01.png') no-repeat right center;
  background-size: contain;
}

.bold-bbvzh {
  color: #F894AC;
  font-weight: bold;
}

.after-text-bottom-bbvzh {
  background-color: #F894AC;
}

.landing_2025_bbvzh-pagination .swiper-pagination-bullet {
  background: #97979770;
  opacity: 1;
}

.landing_2025_bbvzh-pagination .swiper-pagination-bullet-active {
  background: #F894AC;
}

.landing_2025_bbvzh-arrow::after{
  border-left: 10px solid #F894AC;
}

.landing_2025_section_right_bbvzh {
  background: url('../img/bbvzh_model.png') no-repeat left center;
  background-size: auto 100%;
  box-shadow: 10px 10px 10px #f894ac3d;
}

.landing_2025_consult_btn_wrap_bbvzh {
  background: linear-gradient(to bottom, #FFEFF9 50%, #F1E9FF 50%);
}

.landing_2025_consult_btn_bbvzh{
  box-shadow: 3px 3px 5px #72404c9e;
}


/* 바비턱,볼지흡 */

.landing_2025_content_inner_reverse {
  flex-direction: row-reverse;
}

.landing_2025_bbtjzh {
  background: #F1E9FF;
}

.landing_2025_section-title_bbtjzh_bg{
  background: url('../img/bbtjzh01.png') no-repeat right center;
  background-size: contain;
}

.bold-bbtjzh {
  color: #5F61AC;
  font-weight: bold;
}

.after-text-bottom-bbtjzh {
  background-color: #5F61AC;
}

.landing_2025_bbtjzh-pagination .swiper-pagination-bullet {
  background: #97979770;
  opacity: 1;
}

.landing_2025_bbtjzh-pagination .swiper-pagination-bullet-active {
  background: #5F61AC;
}

.landing_2025_bbtjzh-arrow::after{
  border-left: 10px solid #5F61AC;
}

.landing_2025_section_right_bbtjzh {
  background: url('../img/bbtjzh_model.png') no-repeat left center;
  border-radius: 0 225px 0 0 !important;
  background-size: auto 100%;
  text-align: right !important;
  align-items: flex-end !important;
  box-shadow: 10px 10px 10px #5F61AC3d;
}

.landing_2025_consult_btn_wrap_bbtjzh {
  background: linear-gradient(to bottom, #F1E9FF 50%, #FFF5EC 50%);
}

.landing_2025_consult_btn_bbtjzh{
  box-shadow: 3px 3px 5px #2c2d559e;
}


/* 근본이중턱리프팅 */

.landing_2025_gmbrft {
  background: #FFF5EC;
}

.landing_2025_section-title_gmbrft_bg{
  background: url('../img/gmbrft01.png') no-repeat right center;
  background-size: contain;
}

.bold-gmbrft {
  color: #D2A477;
  font-weight: bold;
}

.after-text-bottom-gmbrft {
  background-color: #D2A477;
}

.landing_2025_gmbrft-pagination .swiper-pagination-bullet {
  background: #97979770;
  opacity: 1;
}

.landing_2025_gmbrft-pagination .swiper-pagination-bullet-active {
  background: #D2A477;
}

.landing_2025_gmbrft-arrow::after{
  border-left: 10px solid #D2A477;
}

.landing_2025_section_right_gmbrft {
  background: url('../img/gmbrft_model.png') no-repeat left center;
  box-shadow: 10px 10px 10px #D2A4773d;
  background-size: auto 100%;
}

.landing_2025_consult_btn_wrap_gmbrft {
  background: linear-gradient(to bottom, #FFF5EC 50%, #1C1F2E 50%);
}

.landing_2025_consult_btn_gmbrft{
  box-shadow: 3px 3px 5px #3d31259e;
}


/* 반응형 적용 */

@media (max-width: 1190px) {
   
  .landing_2025_section {
    padding: 0;
  }

  .landing_2025_content_inner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
  }

  .landing_2025_section_right {
    min-width: 100% !important;
    width: 100% !important;
    min-height: 220px;
    padding: 0;
    margin-top: 18%;
    height: 200px;
    background-size: cover;
    background-position: center;
    box-shadow: none;
    border-radius: 150px 0 0 0;
  }  

  .landing_2025_section_left {
    margin-bottom: 15%;
    width: 90%;
    flex: 1;
    max-width: none; 
  }
  
  .landing_2025_before-box,
  .landing_2025_after-box {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  
  .landing_2025_arrow {
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1;
  }

  .landing_2025_section-title {
    padding-top: 8%;
  }

  .landing_2025_section-title span{
    font-size: 2.5rem;
  }

  .landing_2025_section-title p {
    font-size: 2rem;
  }

  .landing_2025_right-desc{
    margin: 0 5% 3% 5%;
  }

  .landing_2025_bna_more {
    margin: 0 5% 1.5% 5%;
  }

  .landing_2025_right-title {
    font-size: 2.5rem;
    margin: 0 5% 3% 5%;
  }

  .before-text-login {
    font-size: 1.5rem;
  }
  
  .bna-text-bottom{
    font-size: 1.5rem;
  }

  .landing_2025_section-title div br {
    display: none;
  }
}

@media (max-width: 767px) {

  .landing_2025_arrow {
    width: 30px;
    height: 30px;
  }

  .landing_2025_section-title p {
    font-size: 1.5rem;
  }

  .before-text-login, .bna-text-bottom {
    font-size: 2.5vw;
  }

  .landing_2025_section-title span{
    font-size: 2rem;
  }

  .landing_2025_right-title {
    font-size: 2rem;
  }

  .landing_2025_right-desc {
    font-size: 1.5rem;
  }

  .landing_2025_section_right_gmbrft .landing_2025_right-title {
    font-size: 1.8rem;
  }

  .landing_2025_section_right_gmbrft .landing_2025_right-desc {
    font-size: 1.25rem;
  }

  .landing_2025_section_right_gmbrft br{
    display: none;
  }
}


/* 얼지흡 비용 확인 버튼 */

/* 버튼 스타일 */
.landing_2025_consult_btn_wrap {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
  padding: 0;
  margin-top: -55px;
}

.landing_2025_consult_btn {
  color: #fff;
  font-family: 'GmarketSansMedium', sans-serif;
  font-weight: normal;
  letter-spacing: -0.1rem;
  font-size: 2rem;
  line-height: 1;
  padding: 10px 40px 5px;
  border-radius: 50px;
  border: 1px solid #000;
  cursor: pointer;
  text-shadow: 2px 2px 2px #2828287c;
  box-shadow: 5px 5px 1px #000000;
  box-sizing: border-box;

  position: relative;
  transition: transform 0.12s ease, box-shadow 0.12s ease;

  display: inline-flex;
  align-items: center;
  gap: 10px;      
}

.landing_2025_consult_btn img{
  height: 1.2em;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

/* 흔들림 + 크기 강조 애니메이션 */
@keyframes attention {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.08) rotate(-1.5deg); }
}

.landing_2025_consult_btn_bbvzh{
  background: linear-gradient(270deg, #F894AC, #5F61AC, #F894AC);
  background-size: 600% 600%;
  animation: gradientMove 3s ease infinite;
}

.landing_2025_consult_btn_bbtjzh{
  background: linear-gradient(270deg, #5F61AC, #D2A477, #5F61AC);
  background-size: 600% 600%;
  animation: gradientMove 3s ease infinite;
}

.landing_2025_consult_btn_gmbrft{
  background: linear-gradient(270deg, #D2A477, #1C1F2E, #D2A477);
  background-size: 600% 600%;
  animation: gradientMove 3s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.landing_2025_consult_btn:hover {
  background-color: #a17ed6;
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-2px); }
}

.landing_2025_consult_btn:active {
  transform: translateY(3px) scale(0.98);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
}

@media (max-width: 767px) {
  .landing_2025_consult_btn {
    font-size: 1.3rem;
    padding: 5px 10px;
  }

  .landing_2025_consult_btn_wrap {
    margin-top: 0;
  }
}



/* why*/
.landing_2025_why_wrap {
  background-color: #1C1F2E;
  background-image: url(../img/why-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 150px 0 150px;
  margin-top: -50px;
}

.landing_2025_why {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  color: white;
}

.landing_2025_why_left {
  width: 46%;
  padding-top: 100px;
}

.landing_2025_why_right {
  height: 100%;
  max-height: 1000px;
  overflow: hidden;
  position: relative;
}

.landing_2025_why_title_sub {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: -20px;
  margin-top: 0;
}

.landing_2025_why_title_sub_line {
  font-family: 'InkLipquid';
  font-size: 80px;
  font-weight: bold;
  color: #b48cff;
  border-bottom: 1px solid #333;
}

.landing_2025_why_title_main {
  font-size: 70px;
  font-weight: 300;
  color: #b48cff;
  line-height: 0;
  margin-bottom: 100px;
}

.text_bold{
  font-weight: bold;
}

.color_lavender {
  color: #b48cff;
}

.landing_2025_why_check_box {
  background: #fff;
  color: #707070;
  font-weight: 300;
  border-radius: 20px;
  padding: 40px 50px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

.landing_2025_why_check_label {
  position: absolute;
  top: 0px;
  left: -20px;
  transform: rotate(-10deg);
  background: #b48cff;
  color: #fff;
  padding: 3px 10px;
  font-size: 27px;
}

.landing_2025_why_check_text {
  font-size: 20px;
  margin-bottom: 5px;
}

.landing_2025_why_check_text_main{
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 25px;
}

.landing_2025_why_check_desc {
  font-size: 20px;
  line-height: 1.5;
  border-top: 1px dotted #707070;
  padding-top: 20px;
  margin-bottom: 0;
}

.landing_2025_why_right {
  width: 50%;
  /* overflow: hidden; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.landing_2025_why_scroll_wrapper {
  height: 1200px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

/* 상단 그라데이션 오버레이 추가 */
.landing_2025_why_scroll_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* 필요 시 조정 */
  background: linear-gradient(to bottom, #1C1F2E, transparent);
  z-index: 2;
  pointer-events: none;
}

/* 하단 그라데이션 */
.landing_2025_why_scroll_wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* 필요 시 조정 */
  background: linear-gradient(to top, #1C1F2E, transparent);
  z-index: 2;
  pointer-events: none;
}

.landing_2025_why_scroll_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  animation: landing_2025_why_scroll-up 40s linear infinite;
  will-change: transform;
}

.landing_2025_why_scroll_item {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ffffff5b;
  padding: 20px;
  background-color: #ffffff1a;
}

.landing_2025_why_scroll_item_profile_box{
  display: flex;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}

.landing_2025_why_scroll_item_profile_box img{
  display: block;
  width: 15%;
  height: auto;
  filter: blur(3px);
  object-fit: contain;
  /* display: block;
  width: auto;
  filter: blur(3px); */
}

.landing_2025_why_scroll_profile p {
  font-size: 15px;
  margin: 0;
  padding: 0;
  filter: blur(3px);
}

.landing_2025_why_scroll_content_text {
  font-weight: 300;
  filter: blur(3px);
}

.landing_2025_why_scroll_content_box img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin-top: 10px;
}

@keyframes landing_2025_why_scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}



@media (max-width: 1190px) {
  .landing_2025_why {
    width: 90%;
  }

  .landing_2025_why_title_sub{
    font-size: 28px;
  }

  .landing_2025_why_title_sub_line{
    font-size: 60px;
  }
  .landing_2025_why_title_main{
    font-size: 55px;
  }

  .landing_2025_why_check_desc{
    font-size: 1.1rem;
  }

  .landing_2025_why_check_label {
    font-size: 20px;
  }

  .landing_2025_why_check_box {
    padding: 40px 15px;
  }
}

@media (max-width: 767px) {
  .landing_2025_why_wrap {
    padding: 150px 0 80px;
  }

  .landing_2025_why {
    flex-direction: column;
  }

  .landing_2025_why_left {
    order: 1; /* 위에 오도록 설정 */
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }

  .landing_2025_why_right {
    order: 2; /* 아래에 오도록 설정 */
    display: block;
    width: 100%;
    margin-top: 0;
  }

  .landing_2025_why_scroll_wrapper {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    flex-direction: row;
    gap: 30px;
    height: auto !important;
  }

  .landing_2025_why_scroll_wrapper::before {
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px; /* 필요 시 조정 */
    height: 100%;
    background: linear-gradient(to right, #1C1F2E, transparent);
  }

  .landing_2025_why_scroll_wrapper::after {
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    width: 60px; /* 필요 시 조정 */
    height: 100%;
    background: linear-gradient(to left, #1C1F2E, transparent);
  }

  .landing_2025_why_scroll_list {
    display: flex;
    white-space: normal;
    vertical-align: top;
    gap: 16px;
    min-width: 100%;
    height: auto !important;
    scroll-snap-align: start; 

    /* flex-direction: row;
    animation: landing_2025_why_scroll-horizontal 20s linear infinite;
    width: max-content; */
  }

  .landing_2025_why_scroll_list.scroll-left {
    display: none !important;
  }

  .landing_2025_why_scroll_list.scroll-right {
    display: flex !important;
    flex-direction: row;
    animation: landing_2025_why_scroll-horizontal 20s linear infinite;
    width: max-content;
  }

  .landing_2025_why_scroll_item {
    flex: 0 0 auto;
    flex-shrink: 0;
    width: 240px;
    /* height: 280px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .landing_2025_why_scroll_content_text {
    display: -webkit-box;
    flex: 0 0 auto;
    -webkit-line-clamp: 6; /* 최대 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @keyframes landing_2025_why_scroll-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* 절반만 흐르게 설정 */
    }
  }
}


/* slogan */
.landing_2025_cta {
  background: url(../img/slogan-bg.png) no-repeat center center;
  background-size: auto 70%;
  margin: 50px auto;
  width: 100%;
  max-width: 1190px;
  text-align: center;
  padding: 0px 20px 150px;
}
.landing_2025_cta_icon {
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing_2025_cta_text {
  line-height: 1;
  color: #333;
}
.landing_2025_cta_text_main{
  font-size: clamp(1.5rem, 3vw, 3rem);
}
.landing_2025_cta_text_sub{
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin: 10px 0 5px;
}

@media (max-width: 1190px) {
  .landing_2025_cta {
    width: 90%;
    margin: 0px auto;
  }
}

.landing_2025_bna_review {
  position: relative;
  width: 100%;
  /* max-width: 1190px; */
  margin: 0 auto;
}

/* 카카오&네이버 버튼 */
.landing_2025_cta_buttons {
  position: relative;
  top: 30px;
  left: 0;
  width: 100%;
  max-width: 1190px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
  width: 100%;
}
.landing_2025_cta_buttons a{
  text-decoration: none;
  display: block;
  height: 100%;
}
.landing_2025_btn_kakao,
.landing_2025_btn_naver {
  /* width: calc(50% - 2%); */
  flex: 1;
  min-width: 0;
  padding: 10px 15px;
  border-radius: 999px;
  font-size: clamp(1rem, 2vw, 1.6rem);
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: #282828;
}
.landing_2025_btn_kakao {
  background-color: #FFE600;
}
.landing_2025_btn_naver {
  background-color: #27E100;
}
.landing_2025_btn_kakao img,
.landing_2025_btn_naver img {
  height: 1.2em;
  display: inline-block;
  vertical-align: middle;
}


/* 메인페이지 리얼후기 슬라이드 */

.main_2025_bna_bg {
    background: url(../img/250403_bna_bg.jpg) no-repeat center center;
    padding: 150px 0 30px;
    background-size: cover;
}

.main_2025_bna_wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1190px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #0000002d;
    padding: 65px;
    box-sizing: border-box;
    position: relative;
}

/* 타이틀 */
.main_title_top {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
}
.main_2025_bna_model {
    position: absolute;
    top: -245px;
    right: 0;
    z-index: 99;
}
.main_2025_title {
    line-height: 1.5;
    font-size: 42px;
    letter-spacing: -0.02em;
    font-weight: 200;
}
.main_2025_title b {
    line-height: 1.5;
    font-size: 46px;
    letter-spacing: -0.02em;
    font-weight: 600;
}
.main_2025_titlepd {
    width: 150px;
    margin-bottom: 14px;
    border-bottom: 1px solid #ddd;
}
.main_2025_stitle {
    font-size: 16px;
    color: #898989;
    letter-spacing: -0.02em;
    font-weight: 200;
    margin-bottom: 55px;
}

@media only all and (max-width:1230px) {
    .main_2025_title {
      font-size: 30px;
    }  
    .main_2025_title b {
      font-size: 30px;
    }
    .main_2025_bna_model{
      top: -270px;
    }
}

/* 탭 버튼 */
.review-tab-wrapper {
    text-align: center;
    margin: 20px 0;
    width: 100%;
    background-color: #eeee;
    border-radius: 20px;
    box-sizing: border-box;
}
.review-tab-wrapper ul.tab-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.review-tab-wrapper ul.tab-menu li {
    width: 20%;
}
.review-tab-wrapper ul.tab-menu li a.tab-btn {
    display: block;
    width: 100%;
    border-radius: 20px;
    background: #eee;
    color: #555;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}
.review-tab-wrapper ul.tab-menu li a.tab-btn.active {
    background: #cba8ff;
    color: #fff;
}
.review-tab-wrapper ul.tab-menu li a.tab-btn.active:hover {
    color: #fff;
}
.review-tab-wrapper ul.tab-menu li a.tab-btn:hover {
    color: #cba8ff;
}
.tab-btn {
    display: inline-block;
    width: 19.5%;
    box-sizing: border-box;
    padding: 10px 0;
    background: #eee;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

/* 탭 컨텐츠 */
.review-tab-content-wrapper {
    text-align: center;
    margin-top: 20px;
}

.tab-content {
    position: relative;
    border-radius: 20px;
    overflow: visible; /* ← 이거 꼭 추가 */
}
.tab-content.active {
    display: block;
}
.main_2025_bna {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    padding-left: 0;
}
.review-tab-content-wrapper .tab-content li {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.review-tab-content-wrapper .tab-content li img {
    border-radius: inherit;
    width: 100%;
    display: block;
}

/* bna_box */
.bna_b, .bna_a {
    position: relative;
    height: 100%;
    width: 50%;
}
.bna_b {
    display: flex;
    flex-direction: column;
}
.bna_b img, .bna_a img {
    width: 100%;
}
.bna_bottom_text_box {
    width: 100%;
    background-color: #2828286b;
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    padding: 10px;
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1rem;
    box-sizing: border-box;
}

/* before_box */
.bna-subject-text {
    color: #fff;
    font-weight: 350;
    font-size: 14px;
    text-align: right;
    display: block;
    float: right;
}

/* after_box */
.bna-slide-login-txt-wrap {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 100%;
}
.bna-slide-login-txt {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bna_login_msg {
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}
.bna_login_btn {
    font-size: 16px;
    display: block;
    width: 100px;
    margin: 10px auto;
    background: #cba8ff;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 1px 1px 3px #0000001f;
}

/* view-more */
a.bna_more_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #cba8ff;
    color: #fff;
    font-size: 20px;
    box-shadow: 1px 1px 5px #0000001f;
    text-align: center;
    z-index: 950;
    /* animation: bna_button_motion 1.0s linear 0s infinite; */
}
@keyframes bna_button_motion {

    0%,
    100% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-18px);
    }

    50% {
        transform: translateY(-12px);
    }

    70% {
        transform: translateY(-6px);
    }
}
a.bna_more_button p {
    margin: 0;
}


/* clause_text */
.bna_clause {
    text-align: center;
    font-size: 15px;
    margin: 10px 0;
    color: #555;
}


/* slick-button */
.slick-prev::before,
.slick-next::before {
  display: none !important;
  content: none !important;
}

.slick-prev-custom,
.slick-next-custom {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  color: #fff !important;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev-custom {
  left: 20px;
}
.slick-next-custom {
  right: 20px;
}

/* 반응형 조정 */
@media all and (max-width: 1229px) {
    .main_2025_bna_wrap {
        width: 90%;
    }
}

@media only all and (max-width:959px) {
    .main_2025_line{
        font-size: 1rem;
    }
    .main_2025_bna_bg {
        padding: 20px 0 20px;
    }
    .main_2025_bna_wrap {
      margin: 100px auto;
      padding: 40px 30px;
    }
    .main_2025_bna_model {
        display: none;
    }
    .main_2025_bna_slogan {
        display: none;
    }
    .main_2025_title,
    .main_2025_stitle  {
        text-align: center;
    }  
    .main_2025_titlepd{
        margin: 0 auto;
        margin-bottom: 14px;
    }
    .review-tab-content-wrapper .tab-content li{
        display: block;
    }
    .bna_b, .bna_a{
        width: 100%;
    }
    .review-tab-wrapper ul.tab-menu {
        gap: 0;
    }
    .main_2025_line p{
        font-size: 0.75rem;
        letter-spacing: 5px;
    }
    .bna_more_button{
        position: static !important;
        margin: 20px auto;
        border-radius: 0 !important;
        width: auto !important;
        height: auto !important;
    }
    .bna_more_button p br{
        display: none;
    }

}

@media only all and (max-width:659px) {
    .review-tab-wrapper ul.tab-menu li a.tab-btn {
        font-size: 0.7rem;
    }
    .bna_login_msg{
        font-size: 0.85rem;
    }

}




/* 팝업 전체 */
.landing_2025_popup_overlay {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  letter-spacing: -0.25px;
}

/* 팝업 박스 */
.landing_2025_popup_form {
  width: 460px;
  height: 630px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* 닫기 버튼 */
.landing_2025_popup_close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* 상단 */
.landing_2025_popup_top {
  display: flex;
  flex: 0 0 auto;
  height: 220px;
  background: url(../img/consult_popup_img.png) no-repeat center center;
  color: #fff;
  align-items: center;
}

.landing_2025_popup_text {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;   
}

.landing_2025_popup_subtitle {
  font-size: 1rem;
  margin-bottom: 5px;
}

.landing_2025_popup_title {
  font-size: 2.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px #5525ad16;
}
.landing_2025_popup_title span {
  font-weight: bold;
}

.landing_2025_popup_desc {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 10px;
  border-top: 1px solid #ffffff;
}

.landing_2025_popup_image img {
  height: 100%;
}

/* 입력폼 */
.landing_2025_popup_fields {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing_2025_input_wrap {
  margin-bottom: 15px;
}

.landing_2025_input_wrap label {
  display: block;
  font-size: 0.9rem;
  color: #b48cff;
  margin-bottom: 5px;
}

.landing_2025_input_wrap input {
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  background: none;
  box-sizing: border-box;
}

.landing_2025_input_wrap input::placeholder {
  color: #ccc;
}

/* 개인정보동의 */
.landing_2025_agree_wrap {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.landing_2025_submit_btn {
  width: 100%;
  background: #333;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}


